<div class="footer-wrapper footer-layout1">
  <div class="widget-area bg-footer-color">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-md-6 col-xl-auto footer-border-right d-none d-md-block">
                  <div class="widget widget_nav_menu footer-widget">
                      <h3 class="widget_title">Servicios</h3>
                      <div class="menu-all-pages-container">
                          <ul class="menu">
                              <li><a href="servicios.html">Derecho Civil</a></li>
                              <li><a href="servicios.html">Derecho Comercial</a></li>
                              <li><a href="servicios.html">Derecho Procesal</a></li>
                              <li><a href="servicios.html">Derecho Laboral</a></li>
                              <li><a href="servicios.html">Derecho Penal</a></li>
                              <li><a href="servicios.html">Derecho Administrativo</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-auto footer-border-right d-none d-md-block">
                  <div class="widget widget_nav_menu footer-widget">
                      <h3 class="widget_title">Otros Servicios</h3>
                      <div class="menu-all-pages-container">
                          <ul class="menu">
                              <li><a href="servicios.html">Protección al Consumidor</a></li>
                              <li><a href="servicios.html">Competencia Desleal</a></li>
                              <li><a href="servicios.html">Derecho Concursal</a></li>
                              <li><a href="servicios.html">Arbitraje</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-4 footer-border-right">
                  <div class="widget footer-widget text-center">
                      <div class="th-widget-about">
                          <div class="about-logo">
                              <a href="index.html"><img src="assets/img/logo2.png" alt=""></a>
                          </div>
                          <p class="about-text">Estudio de abogados, especialistas en conflictos, negociaciones y litigios judiciales, administrativos y constitucionales, brindando asesoría estratégica.</p>
                          <div class="th-social">
                              <a href="https://www.instagram.com/estudiotorres16/#" target="_blank"><i class="fab fa-instagram"></i></a>
                              <a href="https://pe.linkedin.com/in/anthony-torres-quiroz-183392207" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                              <a href="https://api.whatsapp.com/send/?phone=51985870045&text=Hola" target="_blank"><i class="fab fa-whatsapp"></i></a>
                              
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-auto footer-border-right">
                  <div class="widget footer-widget">
                      <div class="th-widget-contact">
                          <div class="info-box">
                              <div class="info-box_icon">
                                  <i class="fa-regular fa-location-dot"></i>
                              </div>
                              <div class="info-contnt">
                                  <h4 class="footer-info-title">Ubicación</h4>
                                  <p class="info-box_text">
                                    <a href="https://maps.app.goo.gl/f2RcBN8f1TNQaKwv7" class="info-box_link" target="_blank">Av. Javier Prado este 175, Oficina 501, San Isidro</a>
                                  </p>
                              </div>
                          </div>
                          <div class="info-box">
                              <div class="info-box_icon">
                                  <i class="fa-regular fa-phone"></i>
                              </div>

                              <div class="info-contnt">
                                  <h4 class="footer-info-title">Teléfono</h4>

                                  <p class="info-box_text">
                                      <a href="tel:+51985870045" class="info-box_link">+51 985 870 045</a>
                                  </p>
                              </div>
                          </div>
                          <div class="info-box">
                              <div class="info-box_icon">
                                  <i class="fa-regular fa-envelope"></i>
                              </div>

                              <div class="info-contnt">
                                  <h4 class="footer-info-title">Correo</h4>
                                  <p class="info-box_text">
                                      <a href="mailto:administracion@torresconsultores.pe" class="info-box_link">administracion@torresconsultores.pe</a>
                                  </p>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-wrap">
      <div class="container">
          <div class="row gy-2 align-items-center">
              <div class="col-md-12">
                  <p class="copyright-text text-center">
                    <span class="text-muted"><i class="fal fa-copyright"></i> 2025</span>  <br>
                    <span class="text-theme">Torres Consultores & Asociados S.A.C.</span>
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>