<div class="th-menu-area text-center">
  <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
  <div class="mobile-logo">
    <a href="index.html"><img src="assets/img/logo2.png" alt=""></a>
  </div>
  <div class="th-mobile-menu">
    <ul>
      <li>
        <a href="index.html">Inicio</a>
      </li>
      <li>
        <a href="nosotros.html">Acerca de nosotros</a>
      </li>
      <li>
        <a href="staff-de-abogados.html">Staff de abogados</a>
      </li>
      <li>
        <a href="casos-de-exito.html">Casos de éxito</a>
      </li>
      <li>
        <a href="servicios.html">Servicios de asesoramiento</a>
      </li>
      <li>
        <a href="contactanos.html">Contactanos</a>
      </li>
    </ul>
  </div>
</div>