
.service-3-item__top-icon {
	left: 0;
	right: inherit;
	border-radius: 24px 0px 24px 0px;
}
.process-box.style-2::before {
	left: -190px;
	right: inherit;
}
.testi-3-slider-wrapper .icon-box {
	left: 0;
	right: inherit;
}
